#Downloaded data files
data

NEONDomains_0
NEONDomains_0.zip
outputs


#R environment
.Rhistory
.Rdata
.ipynb_checkpoints
.Rproj.user
.Rproj
src.Rproj
EcologyDataScienceProject.Rproj

Clark_et_al-2017-Ecological_Monographs.pdf
